<div class="container mt-5 py-5">
  <h2 class="text-center">Here are all the posts </h2>
  <% @posts.each do |post|%>
  <div class="row border-bottom my-4 py-3">
      <div class="col-lg-4 border-right">
        <img class="img-thumbnail" src="<%=post.img %>"/>
        
        <p>By: <%=post.author%></p>
        </div>
          <div class="col-lg-8">
            <h5><%=post.title%></h4>
            <p class="lead"><%=post.content%></p>
            <a href="/posts/<%= post.id%>">View</a>
          </div>
    </div>
    <% end %>
  </div>


