<div class="container pt-5 mt-5">
  <h1 class="text-center display-5">Welcome to your account</h2>
      <h4 class="text-center">Your BMR is.. <%= @bmr %> <br>
        <a href="/days/new" class="btn btn-primary m-4">Start a new day</a>
        <a href="/posts/new">Start A New Post here</a>
        
  </div> 
  <div class="days-container">
    <% @days.each do | day |%>
      <div class="day-card">
      <div class="day-card-heading">
      <%=day.name %>
      </div>
      <div class="day-card-body">
        <p>Wake up time: <%=day.time_awake%></p>
        <p>Calories:  <%=day.calorie%></p>
      </div>
      <div class="day-card-buttons">
        <a href="/days/<%= day.id%>">View</a>
        <form action="/days/<%=day.id %>" method="POST" >
        <input type="hidden" name="_method" value="DELETE">
        <button>DELETE</button>
          </form>
       </div>

        </div>
         <%end%>
         </div>
          
  



