<div class="container pt-5 mt-5">
  <h1 class="text-center display-5 pb-3">Welcome to your account</h1>
    <div class="row ">
      <% if @avg_cal.nil?%>
      <p></p>
      <% else %>
      <div class="card col-md-4  p-3">
      <div class="card-header ">
      <h4 class="text-center "> Average calories a day </h4>
      </div>
      <div class="card-body text-center ">
      <h3>
      <i class="fas fa-utensils p-2"></i>
      </h3>
      <h5> <%=@avg_cal%></h5>
   
     </div>
      </div>
      <% end %>
       <% if @avg_sleep.nil?%>
      <p></p>
      <% else %>
      <div class="card col-md-4 p-3">
      <div class="card-header">
      <h4 class="text-center ">Average hours slept a night</h4>
      </div>
      <div class="card-body text-center ">
      <h3>
      <i class="fas fa-bed p-2"></i>
      </h3>
      <h5 class="card-body"> <%=@avg_sleep%> </h5>
      </div>
      <% end %>
      </div>

      <% if @bmr.nil?%>
      <p></p>
      <% else %>
      <div class="card col-md-4 p-3">
      <div class="card-header">
      <h4 class="text-center">Your BMR </h4>
      </div>
      <div class="card-body text-center">
      <h3>
      <i class="fas fa-weight p-3"></i>
      </h3>
      <h5 > <%=@bmr.calculation%> calories </h5>
      </div>
      <% end %>
      </div>
      </div>
  <h5 class="text-center">
        <a href="/days/new" class="btn btn-primary m-4">Start a new day</a>
        <a href="/posts/new" class="btn btn-secondary">Start a new post </a>
        <a class="text-center btn btn-success m-4" href="days/bmr-info"> calculate BMR </a>
        <a class="text-center btn btn-dark " href="/search">Find recipes </a>


</h5>
 
        <div class="days-container ">
    <% @days.each do | day |%>
      <div class="day-card">
      <div class="day-card-heading">
      <%=day.name %>
      </div>
      <div class="day-card-body">
        <p>Hours slept <%=day.sleep%></p>
        <% if @bmr.nil? %>
        <p>Calories:  <%=day.calorie %> </p>
       
        <%elsif day.calorie > @bmr.calculation%>
        <p class="bg-danger">Calories:  <%=day.calorie %></p>
        <%elsif day.calorie < @bmr.calculation %>
        
        <p class="bg-success">Calories:  <%=day.calorie %></p>
        <% end %>
      </div>
      <div class="day-card-buttons">
        <a href="/days/<%= day.id%>">View</a>
        <form action="/days/<%=day.id %>" method="POST" >
        <input type="hidden" name="_method" value="DELETE">
        <button>DELETE</button>
          </form>
       </div>

        </div>
         <%end%>
         </div>
          
  



