<H1>edit your day</h1>



<form  action="/days/<%= @day.id %> %" method="POST">
<input type="hidden" name="_method" value="PUT" />
<input 
type="text" 
name="name" 
placeholder="name your day"
value="<%=@day.name %> "/><br>
<input 
type="text" 
name="time" 
placeholder="time you woke up"
value="<%=@day.time_awake %> " /><br>

<textarea name="tasks"
value="<%=@day.task%> "></textarea><br>
<textarea name="foods" value="<%=@day.food%> " ></textarea><br>
<textarea name="workout" value="<%=@day.workout%> "></textarea><br>
<textarea name="calories" value="<%=@day.calorie%> "></textarea><br>
<button>Edit Day</button>
<form>