<head>
  <style>
  .my-style{
    margin: 0 auto;
  }
input::selection { background: transparent; } input::-moz-selection { background: transparent; }

  </style>
</head>

<div class="container mt-5 p-5">


<% @individual_meal.each do |meal | %>




<div class="card my-style" style= "width: 600px;">
<h2 class="card-title text-center">
<%= meal["strMeal"]%>
</h2>
<img class="card-img-top" src="<%= meal["strMealThumb"]  %>">
<div class="card-body">
<h5 class="card-title text-center"> Instructions </h5>
<p>
<%= meal["strInstructions"]%>
</p>


</div>
<div class="card-body">
<h5 class="card-title"> Ingredients</h5>
<a href="<%= meal["strSource"] %>"target="_blank" > View </a>

</div>
<div class="card-body">
<h5 class="card-title"> Video </h5>
<a href="<%= meal["strYoutube"] %>"target="_blank" > View </a>

</div>
<div class="card-body">
<h5>Add meal </h5>
<form  action="/search/new" method="POST">

<input id="prodId" name="meal" type="hidden" value="<%= meal["idMeal"] %>">
<button class="btn btn-primary" >Add</button>

</form>
</div>
</div>
<%end%>