<head>
  <style>

  .container{
    display: flex;
    align-items: flex;
    justify-content: center;
  }

  .my-card{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
  }
 .top-card{
   margin: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
  .card p{
    font-size: 15px;
  }

input::selection { background: transparent; } input::-moz-selection { background: transparent; }

  </style>
</head>

<div class="container mt-5 p-5">


<% @individual_meal.each do |meal | %>




<div class="my-card shadow-lg  bg-white rounded" >
<div class="top-card">
<img class="card-img-top " src="<%= meal["strMealThumb"]  %>">
<h2 class="card-title text-center p-3 ">
<%= meal["strMeal"]%>
</h2>
</div>
<div class="card-body">
<h5 class="card-title text-center"> Instructions </h5>
<p>
<%= meal["strInstructions"]%>
</p>
<form  action="/search/new" method="POST">
<input id="prodId" name="meal" type="hidden" value="<%= meal["idMeal"] %>">
<button class="btn btn-primary mx-1" >Add</button>
<a class="btn btn-success mx-1" href="<%= meal["strSource"] %>"target="_blank" > Ingredients</a>
<a class="btn btn-secondary mx-1" href="<%= meal["strYoutube"] %>"target="_blank" > Video</a>

</form>
</div>
</div>
<%end%>
</div>