<div class="container mt-5 py-5">
<div class="row">

<div class="col-lg-4 border-right  border-dark">
<img class="img-thumbnail" src="<%=@post.img %>">
</div>
<div class="col-lg-8">
<h4 class="mt-3 ">Title: <%=@post.title%></h4>
<p class="border-bottom border-dark">By <%=@post.author%></p>

<p class="lead"><%=@post.content%></p>
</div>
</div>
<form  action="/posts/<%=@post.id %>/likes" method="POST">
<div class="form-group">
<button class="like-btn mt-4 "><i class="fas fa-thumbs-up"></i><span> <%= @likes %></span></button><br>
</div>
</form>




<h4 class="text-center" >Comment below</h4>
<div class="row">
<% @post.comments.each do |comment|%>
<div class="d-flex justify-content-center">
<h5 class="lead"><%=comment.comment%></h5>

<% end %>
</div>
</div>

 


<form  action="/posts/<%=@post.id %>/comments" method="POST">
<div class="form-group">
<label>Comment</label>
<textarea class="form-control" name="comment" rows=5></textarea>
</div>

<button class="btn btn-primary" >Submit</button>

</form>

</form>


</div>
