<div class="container mt-5 py-5">
  <h1 class="text-center my-4 border-bottom p-2">Here are all Your posts</h1>
    <% @posts.each do |post|%>
      <div class="row border-bottom border-left">
        <div class="col-lg-4 my-3">
          <h4><%=post.title%></h4><br>
        </div>
        <div class="col-lg-8">
          <p><%=post.content%></p><br>
            <form action="/posts/<%=post.id %>" method="POST" >
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger my-3">DELETE</button>
            </form>
              <a class="btn btn-success m-3 " href="/posts/<%=post.id%>/edit">Edit</a>
                <a href="/posts/<%= post.id%>" class="btn btn-primary">View</a>
        </div>
      </div>
    <%end%>
  </div>